<template name="home">
  <div class="current-video jumbotron">
    <div class="video-input vertical-center row">
      <div class='col-md-10'>
        <input type="text" class="video-url form-control input-lg" placeholder="Enter Youtube video ID or URL">
        {{#if currentUser}}
          <span class="public-icon fa-stack fa-lg">
            <i class="fa fa-globe fa-stack-1x"></i>
            {{#unless currentVideoIsPublic}}
              <i class="fa fa-ban fa-stack-2x text-danger"></i>
            {{/unless}}
          </span>
        {{/if}}
      </div>
      <div class='col-md-2'>
        <a class="download-link col-right btn btn-lg {{downloadLinkClass}}" href={{fullDownloadUrl}}>
          <span class="glyphicon glyphicon-download"></span>
          Download
        </a>
      </div>
    </div>
    {{#if currentVideo}}
      {{>videoPreview currentVideo}}
    {{/if}}
    {{#if loadingCurrentVideo}}
      <div class="loading-video text-info">
        Loading data ...
      </div>
    {{/if}}
    {{#if currentVideoError}}
      <div class="error-video text-danger">
        There was an error loading your video
      </div>
    {{/if}}
  </div>

  {{>latestVideos}}
</template>

<template name="videoPreview">
  <div class="video-details row">
    <div class="col-md-2">
      <a target="_blank" href={{youtubeUrl}}>
        <img class='video-img img-thumbnail' src={{thumbnail}}>
      </a>
    </div>
    <div class="col-md-10">
      <a target="_blank" href={{youtubeUrl}}>
        <h4 class="title">{{title}}</h4>
      </a>
      <div class="video-subdetails">
        <span class="duration text-info">Duration: {{durationAsString}}</span>
        {{#if createdAt}}
          <span class="created-at text-info">Added on: {{createdAt}}</span>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="latestVideos">
  <h3>Latest Videos:</h3>
  <div class="all-videos">
    <ul class="list-group">
    {{#each videos}}
      {{> video}}
    {{/each}}
    </ul>
  </div>
</template>

<template name="video">
  <li class="video list-group-item">
    <div class="row">
      <div class="col-left col-sm-11">
        {{>videoPreview this}}
      </div>
      <div class="download-link-container col-right col-sm-1">
        <a class="download-link" href={{fullDownloadUrl}}>
          <span class="download-icon glyphicon glyphicon-download"></span>
        </a>
      </div>
    </div>
  </li>
</template>